package management

import "github.com/Damianen/norm/model"

templ Show(management []model.Management, errorComp templ.Component, err bool) {
	<div class="bg-gray-800">
		<div class="mx-auto max-w-8xl">
			<div class="bg-gray-800 py-10">
				<div class="px-4 sm:px-6 lg:px-8">
					<div class="sm:flex sm:items-center">
						<div class="sm:flex-auto">
							<h1 class="text-base font-semibold leading-6 text-white">Management</h1>
							<p class="mt-2 text-sm text-gray-300">Een lijst met alle werknemers van het management die bij de albert heijn werken met hun pnl, email en functie</p>
						</div>
						<div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
							<button hx-get="/managementInsert" hx-trigger="click" hx-target="#contentDiv" hx-swap="innerHTML" class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Nieuwe manager / shiftleider</button>
						</div>
					</div>
					if err {
						@errorComp
					}
					<div class="mt-8 flow-root">
						<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
							<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
								<table class="min-w-full divide-y divide-gray-700">
									<thead>
										<tr>
											<th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0">Naam</th>
											<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Pnl</th>
											<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Email</th>
											<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Functie</th>
											<th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
												<span class="sr-only">Edit</span>
											</th>
										</tr>
									</thead>
									<tbody class="divide-y divide-gray-800">
										for _, manager := range management {
											<tr>
												<td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-0">{ manager.Name }</td>
												<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">{ manager.Pnl }</td>
												<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">{ manager.Email }</td>
												<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">{ manager.Function }</td>
												<td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
													<a href="#" class="text-indigo-400 hover:text-indigo-300">Edit<span class="sr-only">{ manager.Name }</span></a>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

templ NewManagement() {
	<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
		<div class="sm:mx-auto sm:w-full sm:max-w-sm">
			<h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Nieuwe manager of shiftleider</h2>
		</div>
		<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
			<form class="space-y-6" hx-post="/management" hx-target="#contentDiv" hx-swap="innerHTML">
				<div>
					<label for="pnl" class="block text-sm font-medium leading-6 text-white">Pnl</label>
					<div class="mt-2">
						<input id="pnl" name="pnl" type="pnl" required class="block w-full rounded-md border-0 bg-white/5 p-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"/>
					</div>
				</div>
				<div>
					<label for="name" class="block text-sm font-medium leading-6 text-white">Naam</label>
					<div class="mt-2">
						<input id="name" name="name" type="name" required class="block w-full rounded-md border-0 bg-white/5 p-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"/>
					</div>
				</div>
				<div>
					<label for="email" class="block text-sm font-medium leading-6 text-white">Email</label>
					<div class="mt-2">
						<input id="email" name="email" type="email" required class="block w-full rounded-md border-0 bg-white/5 p-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"/>
					</div>
				</div>
				<div>
					<label for="function" class="block text-sm font-medium leading-6 text-white">Functie</label>
					<div class="mt-2">
						<input id="function" name="function" type="function" required class="block w-full rounded-md border-0 bg-white/5 p-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"/>
					</div>
				</div>
				<div>
					<div class="flex items-center justify-between">
						<label for="password" class="block text-sm font-medium leading-6 text-white">Wachtwoord</label>
					</div>
					<div class="mt-2">
						<input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 bg-white/5 p-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"/>
					</div>
				</div>
				<div>
					<button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Voeg manager of shiftleider toe</button>
				</div>
			</form>
		</div>
	</div>
}
