package base

templ header() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/static/css/style.min.css"/>
		<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
		<title>NORM</title>
	</head>
}

templ Show(contents templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@header()
		<body class="bg-gray-800">
			@contents
		</body>
	</html>
}
