package base

templ header(title string) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/static/css/style.min.css"/>
		<title>{ title }</title>
	</head>
}

templ Show(contents templ.Component, title string) {
	<!DOCTYPE html>
	<html lang="en">
		@header(title)
		<body class="bg-gray-800">
			@contents
		</body>
	</html>
}
